* {
  box-sizing: border-box;
}

#viewport {
  position: absolute;
  perspective: var(--perspective);
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  #camera {
    position: relative;
    transform-style: preserve-3d;
    width: 0px;
    height: 0px;
    left: 50%;
    top: 50%;
    translate: 0 0 var(--perspective);

    #scene {
      transform-style: preserve-3d;

      .tile {
        position: absolute;
        backface-visibility: hidden;
        transform-origin: 0 0;
        background-size: cover;
        image-rendering: pixelated;
        width: 100px;
        height: 100px;
        background-color: red;
        border: 1px solid black;
        outline: 1px solid transparent;
      }

      .floor {
        width: 1000px;
        height: 1000px;
        background-color: black;
        background-image: radial-gradient(closest-side, transparent, #222), repeating-linear-gradient(#fff1 0 1px, transparent 0 1em), repeating-linear-gradient(90deg, #fff1 0 1px, transparent 0 1em)
      }
    }
  }
}
